* {
    font-family: "Inknut Antiqua", serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: relative;
}

body{
    background-color: rgba(70, 127, 114, 1);
}

h1 {
    font-weight: 300;
    font-style: normal;
}

.TextoHeader {
    font-weight: 300;
    font-style: normal;
    font-size: 200%;
}

.MenuNavegacion {
    background-color: rgb(177, 177, 177);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
    /*Va a influenciar al nav de */
    padding-right: 10%;

    list-style: none;
    /* para fijar el menú */
    position: sticky;
    top: 0;
    z-index: 9999;
}

.MenuNavegacion .logo a img {
    display: flexbox;
    justify-content: flex-end;
    height: 5em;
    width: auto;
    transition: 0.3s;
}

@media only screen and (max-width: 1050px) {
    /* Para comprobar */
    /* header{
        background-color: aquamarine;
    } */

    /* Menú hamburguesa */
    .MenuNavegacion {
        display: block;
    }

    .MenuNavegacion .TextoHeader {
        max-height: 0px;
        flex-direction: column;
        align-items: center;
        /* para ocultar lo que se queda fuera del contenedor */
        overflow: hidden;
        transition: 0.35s;
    }
}

/* INFO */
.informacion-juego {
    width: 100%;
    height: auto;
    background-color: rgba(70, 127, 114, 1);
}

.caja1-info{
    width:100%;
    height: auto;
    text-align: left;
    justify-content: center; 
    padding: 5%;
}


.caja3-info {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 20%;

}

.caja3-info li img {
    width: 50%;
    height: auto;
}

/* FOOTER */

.footer {
    background-color: rgba(63, 161, 114, 1);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    /* flex-flow: row wrap; */
}

.primera-caja-footer {
    width: 50%;
    height: 100%;
    align-items: self-end;
}

.primera-caja-footer img {
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: auto;
    margin-left: 5%;
    margin-bottom: 2%;
}

.segunda-caja-footer {
    margin-right: 2%;
    width: 45%;
    height: 100%;
}

.segunda-caja-footer input {
    width: 100%;
}

.footer textarea {
    width: 100%;
    height: 20%;
}