:root {
    --green-titulos: #3FA172;
    --green-oscuros: rgb(70, 127, 114);
    --green-claros: rgba(63, 161, 114, 1);
    --texto-oscuros: whitesmoke;
    --texto-claros: rgb(39, 39, 39);
    --gris-navegacion: rgb(220, 220, 220);
}

* {
    font-family: "Inknut Antiqua", serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: relative;
}

#pixel-art {
    image-rendering: pixelated;
}

body {
    background-color: var(--green-oscuros);
}

h1 {
    font-weight: 300;
    font-style: normal;
    font-size: 150%;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
}

h3 {
    font-weight: 300;
    font-style: normal;
    font-size: 200%;
}

.TextoClaros {
    color: var(--texto-claros);
}

.TextoOscuros {
    color: var(--texto-oscuros);
}

.TextoHeader {
    font-weight: 300;
    font-style: normal;
    font-size: 200%;
}

.MenuNavegacion {
    background-color: var(--gris-navegacion);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
    /*Va a influenciar al nav de */
    padding-right: 10%;

    list-style: none;
    /* para fijar el menú */
    position: sticky;
    top: 0;
    z-index: 9999;
}

.MenuNavegacion .logo a img {
    display: flexbox;
    justify-content: flex-end;
    height: 5em;
    width: auto;
    transition: 0.3s;
}

/* INFO */
.informacion-juego {
    width: 100%;
    height: auto;
    background-color: var(--green-oscuros);
}

.caja1-info {
    width: 100%;
    height: auto;
    text-align: left;
    justify-content: center;
    padding: 5%;
    background-color: var(--green-claros);
}


.caja3-info {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.caja3-info li {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.caja3-info li h2 {
    width: 50%;
    height: auto;
    font-size: 100%;
    text-align: center;
}

.caja3-info li img {
    width: 30%;
    height: auto;
}

.caja4 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    background-color: var(--green-claros);
}

.caja4-info {
    width: 50%;
    height: auto;
    text-align: left;
    padding: 5%;
}

.caja4-slider {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.caja4-slider ul {
    display: flex;
    align-content: center;
    animation: cambioImagenCaja4 30s infinite alternate linear;
    width: 500%;
}

.caja4-slider li {
    width: 100%;
    list-style: none;
}

.caja4-slider img {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

@keyframes cambioImagenCaja4 {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    21% {
        margin-left: -100%;
    }

    41% {
        margin-left: -100%;
    }

    44% {
        margin-left: -200%;
    }

    64% {
        margin-left: -200%;
    }

    66% {
        margin-left: -300%;
    }

    86% {
        margin-left: -300%;
    }

    88% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}

.caja5 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;

}

.caja5-info {
    width: 50%;
    height: auto;
    text-align: left;
    padding: 5%;
}

.caja5-slider {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.caja5-slider ul {
    display: flex;
    align-content: center;
    justify-content: center;
    animation: cambioImagenCaja5 18s infinite alternate linear;
    width: 300%;
}

.caja5-slider li {
    width: 100%;
    list-style: none;
}

.caja5-slider img {
    width: 40%;
    height: auto;
    margin-left: 25%;
    margin-top: 2%;
    image-rendering: pixelated;
}

@keyframes cambioImagenCaja5 {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    33% {
        margin-left: -100%;
    }

    63% {
        margin-left: -100%;
    }

    66% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}


/* LORE */

.Lore{
    
}



/* ARTBOOK */

.Artbook{

}


/* FOOTER */

.footer {
    background-color: var(--green-claros);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    /* flex-flow: row wrap; */
}

.primera-caja-footer {
    width: 50%;
    height: 100%;
    align-items: self-end;
}

.primera-caja-footer img {
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: auto;
    margin-left: 5%;
    margin-bottom: 2%;
}

.segunda-caja-footer {
    margin-right: 2%;
    width: 45%;
    height: 100%;
}

.segunda-caja-footer input {
    width: 100%;
}

.footer textarea {
    width: 100%;
    height: 20%;
}

#final_pagina{
    height: 150px;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#final_pagina nav{
    text-align: center;
    display: flex;
    flex-direction: column;

}

#final_pagina img{
    width: 40px;
    height: auto;
}


@media only screen and (max-width: 1050px) {

    /* Menú hamburguesa */
    .MenuNavegacion {
        display: block;
    }

    .MenuNavegacion .TextoHeader {
        max-height: 0px;
        flex-direction: column;
        align-items: center;
        /* para ocultar lo que se queda fuera del contenedor */
        overflow: hidden;
        transition: 0.35s;
    }

    h1,
    h2 {
        font-size: 100%;
    }

    .caja3-info,
    .caja4,
    .caja5 {
        flex-direction: column;
    }

    .caja3-info li img {
        max-height: 163px;
    }
}